html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-list, .site-nav, .contacts__list, .address__list, .social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-card__link, .site-nav__link, .contacts__link, .address__link, .address__location, .logo {
  text-decoration: none;
  font-style: normal;
}

.site-nav__item, .contacts__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio {
  padding-top: 93px;
  padding-bottom: 94px;
}

.portfolio__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-menu {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  position: relative;
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:nth-child(n + 4) {
  margin-top: 30px;
}

.portfolio-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-card:hover, .portfolio-card:focus-within {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-card__link {
  outline: none;
}

.portfolio-card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card__img {
  display: block;
}

.portfolio-card__description {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__link:hover .portfolio-card__description,
.portfolio-card__link:focus .portfolio-card__description {
  transform: translateY(-100%);
}

.portfolio-card__content-wrapper {
  /* display: block; */
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-card__headline {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-card__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Portfolio button */
.button-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu__button:not(:last-child) {
  margin-right: 8px;
}

.button-menu__button:hover, .button-menu__button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #ffffff;
  background: #2196f3;
}

@media screen and (max-width: 767px) {
  .page-header__wrapper {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .mobile-header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .page-header__container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.page-header__container {
  display: none;
}

.page-header__container.is-open {
  display: block;
}

.mobile-menu {
  border: none;
  background: transparent;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    margin-bottom: 60px;
  }
}

.mobile-menu__close-img {
  opacity: 0;
}

.mobile-menu.is-open .mobile-menu__close-img {
  opacity: 1;
}

.mobile-menu.is-open .mobile-menu__menu-img {
  opacity: 0;
}

/* logo */
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* site navigation block */
.site-nav__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.site-nav__item--current {
  display: inline-block;
  color: #2196f3;
  padding-bottom: 8px;
}

.site-nav__item--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  right: 0;
  height: 4px;
  background-color: #2196f3;
  /* border: 2px solid $accent-color; */
  border-radius: 2px;
}

.site-nav__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* contacts block */
.contacts__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contacts__link {
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.page__footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__location {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__headline {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe {
  margin-left: auto;
}

.subscribe__headline {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.form__email {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 12px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.form__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.modal-wrapper {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-form {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__close-button:hover,
.modal-form__close-button:focus {
  fill: #2196f3;
}

/* .modal-form__svg {
  width: 18px;
  height: 18px;
} */
.modal-form__headline {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__label {
  position: relative;
  display: block;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
}

.modal-form__title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 100%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input,
.modal-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 250ms linear;
}

.modal-form__textarea-label,
.modal-form__title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

/* .modal-form__textarea-label {
  margin-bottom: 4px;
} */
.modal-form__textarea-label {
  position: relative;
}

.modal-form__textarea {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  resize: none;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.modal-form__checkbox-text {
  margin-right: 4px;
}

.modal-form__checkbox-link {
  color: #2196f3;
}

.modal-form__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox-icon {
  /* display: inline-block; */
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__ckeckbox-svg {
  position: absolute;
  top: 4px;
  left: 0;
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked ~ .modal-form__checkbox-icon {
  opacity: 0;
}

.modal-form__checkbox:checked + .modal-form__ckeckbox-svg {
  opacity: 1;
  /* z-index: 2; */
}

/* .modal-form__input:focus + .modal-form__title,
.modal-form__input:not(:placeholder-shown) + .modal-form__title {
} */
.modal-form__input:focus,
.modal-form__textarea:focus {
  border-color: #2196f3;
}

.modal-form__input:focus ~ .modal-form__input-svg {
  fill: #2196f3;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  min-width: 200px;
  /* width: 200px;
  height: 50px; */
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  fill: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__link--footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__studio--black {
  color: #212121;
}

.logo__studio--white {
  color: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */