.page__advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.advantages__wrapper {
  @include wrapper;
}
.advantages__list {
  display: flex;
  @extend %list;
}

.advantages__item {
  width: calc((100% - 90px) / 4);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages__img-wrapper {
  @include center;
  width: 270px;
  height: 120px;

  margin-bottom: 30px;
  background-color: $secondary-background;
}
.advantages__item-headline {
  margin-top: 0;
  @include text($fw: 700, $lh: 1.14, $color: $headline-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
}
