.page__team {
  padding-bottom: 94px;
  padding-top: 94px;
}
.team {
  background: $secondary-background;
}
.team__wrapper {
  @include wrapper;
}
.team__headline {
  margin-top: 0;
  margin-bottom: 50px;
  @extend %headline-style;
}
.team__list {
  display: flex;
  @extend %list;
}
.teammate-card {
  padding-bottom: 24px;
  background: $primary-background;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.teammate-card__img {
  display: block;
  margin-bottom: 30px;
}
.teammate-card__name,
.teammate-card__job {
  margin-top: 0;
  @include text($fs: 16px, $lh: 1.19);
  text-align: center;
}
.teammate-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: $headline-color;
}
.teammate-card__job {
  margin-bottom: 16px;
}
