.page-header__wrapper {
  @extend %wrapper;
  // text-align: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
  }
}
.page-header__container {
  @media screen and (max-width: 767px) {
    opacity: 0;
    // display: flex;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    background: $primary-background;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transition: all 250ms $time-function;
  }
  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.mobile-header {
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu {
  height: 40px;
  display: block;
  padding: 0;
  border: none;
  background: transparent;
}
.page-header__nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.mobile-menu__close-img {
  opacity: 0;
  .mobile-menu.is-open & {
    opacity: 1;
  }
}
.mobile-menu.is-open .mobile-menu__menu-img {
  opacity: 0;
}

/* site navigation block */
.site-nav {
  text-align: center;
  // display: flex;
  @extend %list;
}
.site-nav__item {
  position: relative;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.site-nav__item--current {
  display: inline-block;
  color: $accent-color;

  &::after {
    position: absolute;

    content: "";
    left: 0;
    bottom: 0px;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.site-nav__link {
  display: block;
  @extend %link;
  @include text(
    $fw: 500,
    $fs: 18px,
    $lh: 1.17,
    $ls: 0.02em,
    $color: $headline-color
  );
  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    .site-nav__item--current & {
      color: $accent-color;
      padding-bottom: 12px;
    }
  }
}
.contacts__list {
  @extend %list;
  // display: inline-block;
  // text-align: center;
  // @include center;
  // flex-direction: column;
}
.contacts__item {
  // display: inline-block;
  transition: color 250ms $time-function;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.contacts__link {
  @extend %link;
  @include center;
  @include text(
    $fw: 500,
    $fs: 18px,
    $lh: 1.17,
    $ls: 0.02em,
    $color: $text-main-color
  );

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
