.page-header__wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and(max-width: 767px) {
    // @include wrapper($width: 480px);
    max-width: 480px;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
.page-header__container {
  @media screen and (max-width: 767px) {
    display: none;
    // display: flex;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: $primary-background;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  &.is-open {
    display: block;
  }
}

.mobile-header {
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu {
  display: block;
  padding: 0;
  border: none;
  background: transparent;
}
.page-header__nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.mobile-menu__close-img {
  opacity: 0;
  .mobile-menu.is-open & {
    opacity: 1;
  }
}
.mobile-menu.is-open .mobile-menu__menu-img {
  opacity: 0;
}

/* site navigation block */
.site-nav {
  // display: flex;
  @extend %list;
}
.site-nav__item {
  position: relative;
  @extend %header-naviation;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.site-nav__item--current {
  display: inline-block;
  color: $accent-color;

  @media screen and (max-width: 767px) {
  }
  &::after {
    position: absolute;

    content: "";
    left: 0;
    bottom: 0px;
    right: 0;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.site-nav__link {
  display: block;
  @extend %link;
  color: $headline-color;
  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    .site-nav__item--current & {
      color: $accent-color;
      padding-bottom: 8px;
    }
  }
}

.contacts__list {
  @extend %list;
}
.contacts__item {
  @extend %header-naviation;
  transition: color 250ms $time-function;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.contacts__link {
  @extend %link;
  @include vertical-center;
  color: $text-main-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
