$main-font: "Roboto", sans-serif;
$accent-color: #2196f3;
$headline-color: #212121;
$navigation-color: #212121;
$text-main-color: #757575;
$secondary-background: #f5f4fa;
$primary-background: #ffffff;
$text-dark-background: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.6);
$background-footer: #2f303a;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
