.portfolio {
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}

.button-menu {
  @media screen and (min-width: 768px) {
    @include center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

// .portfolio-list {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }

.portfolio-card {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-left: 30px;
    }
  }
  //   &:nth-child(n + 4) {
  //     margin-top: 30px;
  //   }
  //   &:not(:nth-child(3n)) {
  //     margin-right: 30px;
  //   }

  //   &:hover,
  //   &:focus-within {
  //     box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //       0px 1px 1px rgba(0, 0, 0, 0.12);
  //   }
  // }

  // .portfolio-card__link {
  //   @extend %link;
  //   outline: none;
  // }

  // .portfolio-card__img-wrapper {
  //   position: relative;
  //   overflow: hidden;
  // }
  // .portfolio-card__img {
  //   display: block;
  // }
  // .portfolio-card__description {
  //   position: absolute;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   padding: 63px 24px;
  //   @include text($fw: 400, $fs: 18px, $lh: 1.56, $color: $text-dark-background);
  //   background-color: rgba(33, 150, 243, 0.9);

  //   transition: transform 250ms $time-function;

  //   .portfolio-card__link:hover &,
  //   .portfolio-card__link:focus & {
  //     transform: translateY(-100%);
  //   }
  // }
  // .portfolio-card__content-wrapper {
  //   /* display: block; */
  //   padding-top: 20px;
  //   padding-right: 24px;
  //   padding-bottom: 20px;
  //   padding-left: 24px;
  //   border-right: 1px solid #eeeeee;
  //   border-bottom: 1px solid #eeeeee;
  //   border-left: 1px solid #eeeeee;
  // }
  // .portfolio-card__headline {
  //   margin-top: 0;
  //   margin-bottom: 4px;
  //   @include text(
  //     $fw: 700,
  //     $fs: 18px,
  //     $lh: 2,
  //     $ls: 0.06em,
  //     $color: $headline-color
  //   );
  // }
  // .portfolio-card__text {
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   @include text($fw: 400, $fs: 16px, $lh: 1.87, $color: $text-main-color);
  // }

  // /* Portfolio button */
  // .button-menu__button {
  //   // display: flex;
  //   @include center;
  //   padding: 6px 22px;
  //   border-radius: 4px;
  //   border: none;
  //   @include text($fw: 500, $fs: 16px, $lh: 1.62, $color: $headline-color);
  //   background: $secondary-background;

  //   transition: all 250ms $time-function;

  //   &:not(:last-child) {
  //     margin-right: 8px;
  //   }
  //   &:hover,
  //   &:focus {
  //     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
  //       0px 3px 1px rgba(0, 0, 0, 0.1);
  //     outline: none;
  //     color: $text-dark-background;
  //     background: $accent-color;
  //   }
  // }
}
